.box1 {
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(0, 0, 0);
    padding: 20px;
}
.box2 {
    background-color: gold;
    width: 200px;
    height: 200px;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    padding: 20px;
    margin-left: 260px;
}
.box3 {
    background-color: indianred;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    margin-left: 40px;
}
